<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="homepage.css" />
        <title>Homepage</title>
    </head>
    <body>
      <div id="gradient" />
      <div class="header">
        <h1>Welcome to makersbnb!</h1>
      </div>
      <div class="button_cont" align="center">
        <a class="button1" id="signup" href="signup" style="text-decoration: none;">Sign up!</a>
      </div>
      <div class="button_cont" align="center">
        <a class="button2" id="login" href="login" style="text-decoration: none;">Log in!</a>
      </div>
      <style>
      body {
        background-color: #d7d7d7;
        padding: 0px;
        margin: 0px;
      }

      .header {
          text-align: center;
          font-size: 30px;
      }

      .button1 {
        border: none;
        background: #404040;
        color: #ffffff !important;
        font-weight: 100;
        padding: 20px;
        text-transform: uppercase;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s;
      }

      .button1:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
      }

      .button2 {
        border: none;
        background: #404040;
        color: #ffffff !important;
        font-weight: 100;
        margin: 10px;
        padding: 23px;
        text-transform: uppercase;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s;
      }

      .button2:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
      }
      </style>     
    </body>
</html>