<h1>Welcome to makersbnb!</h1>

<button><a style="text-decoration: none; color: black" href="./signup">Sign up!</a></button>
<button><a style="text-decoration: none; color: black" href="./login">Log in!</a></button>