<h1>Login page</h1>

<form action='/testinglogin' method='post'>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="login">     
</form>