<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        
        <title>Login</title>
    </head>
    <body>
      <div class="form-style">
        <h2>Login page</h2>

        <form action='/testinglogin' method='post'>
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <div>
            <input type="submit" name="login" class="button">  
          </div>   
        </form>
      </div>
    </body>

    <style>

      .form-style {
        width: 500px;
        padding: 30px;
        background: #FFFFFF;
        margin: 50px auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
      }

      .form-style h2 {
        text-align: center;
        background: #4D4D4D;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
      }

      .form-style input[type="text"],
      .form-style input[type="password"],
      .form-style textarea,
      .form-style select 
      {
      box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        font: 16px Arial, Helvetica, sans-serif;
        height: 45px;
      }

    .button {
      border: none;
      background: #404040;
      color: #ffffff !important;
      font-weight: 100;
      padding: 20px;
      text-transform: uppercase;
      border-radius: 6px;
      display: inline-block;
      transition: all 0.3s ease 0s;
    }

    .button:hover {
      color: #404040 !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: none;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.3s ease 0s;
    }

      .form-style textarea{
        resize:none;
        overflow: hidden;
      }

    </style>

    <script type="text/javascript">
      //auto expand textarea
      function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight)+"px";
      }
    </script>
</html>