<h1>Sign up to Makers BnB!</h1>

<form action="/signup" method="post">
  <label for="username">Username</label><br>
  <input type="text" id="username" name="username"><br><br>
  <label for="first_name">First name</label><br>
  <input type="text" id="first_name" name="first_name"><br><br>
  <label for="second_name">Second name</label><br>
  <input type="text" id="second_name" name="second_name"><br><br>
  <label for="password">Password</label><br>
  <input type="password" id="password" name="password"><br><br>
  <label for="email">Email</label><br>
  <input type="text" id="email" name="email"><br><br>
  <br>
  <input type='submit' value='Submit'>
</form>