<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List a Space</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <h1>List a space!</h1><br><br>

  <form action="/spaces/new" method="post">
    <label for="listing_name">Name</label><br><br>
    <input type="text" id="listing_name" name="listing_name"><br><br>
    <label for="listing_description">Description</label><br><br>
    <input type="text" id="listing_description" name="listing_description"><br><br>
    <label for="listing_price_per_night">Price per night ($)</label><br><br>
    <input type="text" id="listing_price_per_night" name="listing_price_per_night"><br><br>

    <label for="listing_available_from">Available from (DD/MM/YY)</label><br><br>
    <input type="date" id="listing_available_from" name="listing_available_from"><br><br>

    <label for="listing_available_to">Available to (DD/MM/YY)</label><br><br>
    <input type="date" id="listing_available_to" name="listing_available_to"><br><br>

    <input type="submit" value="List my space">
  </form>

  
  </body>
</html>

